@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

::-webkit-scrollbar {
  width: 0px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  list-style: none;
}
a {
  text-decoration: none;
}

html,
body,
main {
  width: 100%;
  height: 100%;
}

.scroll-container {
  height: 200vh;
}

.horizontal-scroll {
  position: absolute;
  top: 0;
  height: 100%;
  width: 200vw;
  will-change: transform;
  display: flex;
  justify-content: space-between;
}

.scroll-contents {
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticky-wrap {
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 100vh;
}

//------------
// DEBUG //
//------------

.red {
  background-color: #ff3d00;
}

.blue {
  background-color: #2835f8;
}
