#about {
  margin: 3rem 0;
  width: 100%;
  position: relative;
}

#about h2 {
  color: #78b7ff;
  font-size: 4rem;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
}

#about p {
  color: #a5a5a5;
  font-family: "Space Mono", monospace;
  margin: 1.5rem 0;
  font-size: 1.2rem;
}

#about p > span {
  color: #d9d9d9;
}

.about-text {
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  border-bottom: #78b7ff 2px solid;
}

.tech-stack h2 {
  margin-bottom: 3rem;
}

.stack-type {
  display: flex;
  gap: 2rem;
  width: 100%;
  margin: 3rem 0;
}

.tech-icons {
  width: 60%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.tech-icons ul {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  color: #d9d9d9;
  font-family: "Space Mono", monospace;
}

.tech-line {
  width: 40%;
  display: flex;
  align-items: center;
}

.tech-line h3 {
  color: #d9d9d9;
  font-family: "Space Mono", monospace;
  font-size: 2rem;
  font-weight: 400;
  width: 50%;
}

.line-point {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #78b7ff;
}

.line {
  width: 50%;
  height: 0.3rem;
  margin-right: 0.5rem;
  background-color: #78b7ff;
}

@media screen and (max-width: 1440px) {
  .tech-icons {
    width: 50%;
  }
  .tech-line {
    width: 50%;
  }
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 920px) {
  .stack-type {
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }

  .tech-icons {
    width: 100%;
    justify-content: center;
  }
  .tech-line {
    width: 100%;
  }
  .tech-line h3 {
    text-align: center;
  }
}

@media screen and (max-width: 610px) {
  .tech-line h3 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 430px) {
  .tech-line h3 {
    font-size: 1.5rem;
  }
}
