nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 0.3rem;
  z-index: 10;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 20%;
  margin: 0 auto;
  padding: 0;
  backdrop-filter: blur(1px);
  background-color: rgba(255, 253, 253, 0.2);
  border-radius: 5px;
  box-shadow: rgba(36, 36, 36, 0.815) 0px 5px 5px;
  transition: color 0.5s ease, background-color 0.3s ease;
}

nav li {
  font-size: 1.5rem;
  list-style: none;
  padding: 0 1rem;
}

nav button {
  font-size: 1.5rem;
  background-color: transparent;
  text-align: center;
  position: relative;
  transition: color 0.5s ease;
  color: #a5a5a5;
  transition: color 0.3s ease;
}

nav button:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #78b7ff;
  transition: width 0.3s ease-in-out;
}

nav button:hover {
  color: #d9d9d9;
}

nav li:hover button::after {
  width: 100%;
}

/*******************/
/*** MEDIA QUERY ***/
/*******************/

@media screen and (max-width: 1440px) {
  nav ul {
    width: 25%;
  }
}

@media screen and (max-width: 1200px) {
  nav ul {
    width: 30%;
  }
}

@media screen and (max-width: 920px) {
  nav ul {
    width: 40%;
  }
}

@media screen and (max-width: 610px) {
  nav ul {
    width: 60%;
  }
}

@media screen and (max-width: 430px) {
  nav ul {
    width: 80%;
  }
}
