#works {
  background-color: #d9d9d9;
  width: 100%;
  padding: 5rem 0;
}

#works h2 {
  color: #252525;
}

.works-row {
  display: flex;
  flex-wrap: wrap;
}

.works-col {
  display: flex;
  width: calc(100% / 3);
  height: 350px;
}

@media screen and (max-width: 920px) {
  .works-col {
    width: 50%;
  }
}

@media screen and (max-width: 610px) {
  .works-col {
    width: 100%;
  }
}
