@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  height: 200%;
  background-color: rgb(71, 70, 70);
  position: relative;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  position: relative;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 0.3rem;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  backdrop-filter: blur(3px);
  background-color: rgba(157, 157, 157, 0.3);
  border-radius: 3px;
  width: 20%;
  margin: 0 auto;
  padding: 0;
  box-shadow: rgba(36, 36, 36, 0.815) 0px 5px 5px;
}

nav li {
  font-family: "Space Mono", monospace;
  list-style: none;
  padding: 0 1rem;
  color: #d9d9d9;
}

a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #78b7ff;
  transition: width 0.3s ease-in-out;
}

nav li:hover a::after {
  width: 100%;
}

.hero {
  background-image: url("hero-image.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero p {
  color: #d9d9d9;
}
