@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body,
html {
  background-color: #252525;
  position: relative;
}

/** Classi Debug */

.debug {
  border: 1px solid red;
}
.debug-1 {
  border: 1px dotted rgb(24, 218, 252);
}

/** RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

@media screen and (max-width: 992px) {
  .container {
    margin: 0 6rem;
  }
}

@media screen and (max-width: 610px) {
  .container {
    margin: 0 2rem;
  }
}

@media screen and (max-width: 480px) {
  .container {
    margin: 0 1rem;
  }
}
